{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Section</title>
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="icon" type="image/png" href="../static/images/icons/image-removebg-preview(1)(1).png"/>
</head>
<body>
    <!-- <footer class="footer">
        <div class="footer-bg">
            <div class="footer-content">
                <section class="footer-brand">
                    <div class="brand-info">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/948321ff266e89891d247737642545a95ff77a9b4eabb220de510991e3ba1385?placeholderIfAbsent=true&apiKey=740955e879ae481d8acc00d52ca7ba03" class="brand-logo" alt="Our team logo">
                        <h2>Our team</h2>
                    </div>
                    <nav class="footer-nav">
                        <a href="#home" class="nav-item">Home</a>
                        <a href="#about" class="nav-item">About us</a>
                        <a href="#team" class="nav-item">Team</a>
                        <a href="#services" class="nav-item">What we do</a>
                        <a href="#contact" class="nav-item">Contact</a>
                    </nav>
                </section>
                <section class="footer-more">
                    <h3 class="section-title">More</h3>
                    <a href="#projects" class="nav-item">Projects</a>
                    <a href="#events" class="nav-item">Events</a>
                    <a href="#donate" class="nav-item">Donate</a>
                    <a href="#blog" class="nav-item">Blog</a>
                </section>
                <section class="footer-connect">
                    <h3 class="section-title">Connect</h3>
                    <a href="#facebook" class="nav-item social-link">Facebook</a>
                    <a href="#instagram" class="nav-item social-link">Instagram</a>
                    <a href="#twitter" class="nav-item social-link">Twitter</a>
                    <a href="#linkedin" class="nav-item social-link">LinkedIn</a>
                </section>
                <section class="footer-subscribe">
                    <h2 class="subscribe-title">Subscribe to get latest updates</h2>
                    <form class="subscribe-form" id="subscribeForm">
                        <label for="email-input" class="visually-hidden">Your email</label>
                        <input type="email" id="email-input" class="subscribe-input" placeholder="Your email" aria-label="Your email" required>
                        <button type="submit" class="subscribe-button">Subscribe</button>
                    </form>
                </section>
                
            </div>
        </div>
    </footer> -->

<!------------------FOOTER STARTS HERE------------------------------------------------------------->
<div>
<svg width="1440" height="346" viewBox="0 0 1440 346" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 346L34 324C69 302 137 259 206 230C274 202 343 187 411 209C480 230 549 288 617 274C686 259 754 173 823 144C891 115 960 144 1029 173C1097 202 1166 230 1234 223C1303 216 1371 173 1406 151L1440 130V0H1406C1371 0 1303 0 1234 0C1166 0 1097 0 1029 0C960 0 891 0 823 0C754 0 686 0 617 0C549 0 480 0 411 0C343 0 274 0 206 0C137 0 69 0 34 0H0V346Z" fill="white"/>
    </svg>
  </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-col-lg">
                    <h4>Hand - IT</h4>
                    <ul>
                        <li><a href="">Projects</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">Donate</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
  
                <!-- 2nd Column -->
                <div class="footer-col-lg">
                    <h4>Properties</h4>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Team</a></li>
                        <li><a href="">What we do</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
  
                <!-- 3rd Column -->
                <div class="footer-col-lg">
                    <h4>Connect</h4>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">LinkedIn</a></li>
                        
                    </ul>
                </div>
  
                <!-- 4th Column -->
  
                <div class="footer-col-lg">
                    <h4>Newsletter</h4>
                    <form action="">
                        <input type="text" placeholder="Your Name" class="inputName">
                        <input type="email" placeholder="Enter Company Email" class="inputEmail">
                        <input type="submit" value="Submit" class="inputSubmit">
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>&#169; 2022 Finegap. All Rights Reserved.</p>
                </div>
                <div class="socialIcons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
<!------------------FOOTER ENDS HERE------------------------------------------------------------->

    <script src="../static/css/footer.js"></script>

</body>
</html>