{%load static%}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/navigation.css" />
  </head>
  <body>
    <header>
      <h2 class="logo">Logo</h2>
      <nav class="navigation">
        {% if request.path == '/' %}
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <a href="{% url 'all_logins'%}"><button class="btnLogin-popup">Login</button>
        {% else%}
        <a href="{% url 'index'%}"><button class="btnLogin-popup">Home</button>
        {% endif %}
      </nav>
    </header>
    <script src="../static/css/script.js"></script>

  </body>
</html>