<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ngo_login.css">
    <link rel="icon" type="image/png" href="../static/images/icons/image-removebg-preview(1)(1).png"/>
    <link rel="icon" type="image/png" href="../static/images/icons/image-removebg-preview(1)(1).png"/>
    
    <title>NGO Login</title>
</head>
<body>
   
    <div class="wrapper">
        <div class="inner">
            
            <div>                   
                <form method="POST"> 
                    
                    <h2>NGO LOGIN</h2>
                    {% csrf_token %} <!-- Important for security if you're using Django -->
                    <div class="form-box login">
                          <div class="input-box">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                            </svg></span>
                            <input type="email" name="emailid" required>
                            <label>Email</label>
                          </div>
                          <div class="input-box">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                            </svg></span>
                            <input type="password" name="pwd" required>
                            <label>Password</label>
                          </div>
                          <button type="submit" class="btn">Login</button>
                          
                        </form>
                      </div>  
                      <div class="login-register">
                        <p>Don't have an account? 
                          <a href="{% url 'ngo_reg' %}" class="register-link">Register</a>
                        </p>
                      </div>      
        </div>
        
      </div>
      
 

    
</body>
{% if error == "no" %}
<script>
  alert('Logged In Successfully');
  window.location = ("{% url 'ngo_home' ngo_id=ngo.id %}");
;
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert('Invalid Login Credentials, Try Again...');
</script>
{% endif %}

{% if error == "not" %}
<script>
  alert('Your verification status is pending...');
</script>
{% endif %}


</html>
